
.css-16euuc9 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(6, 216, 215);
    height: 50px;
    line-height: 50px;
    font-family: "Titillium Web", sans-serif;
    color: rgb(126, 252, 246);
    user-select: none;
    background-color: rgb(0, 26, 26);
}

.css-nedazh {
    display: block;
    margin: 0px;
    padding: 0px 15px;
    font-size: 24px;
    font-family: "Titillium Web", sans-serif;
    color: #D4F6FD;
    white-space: nowrap;
    letter-spacing: 0px;
    text-transform: none;
    text-shadow: none;
}

.css-1h5u173 {
    display: flex;
    padding-right: 5px;
}


.css-548piz {
    margin-left: 10px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    cursor: pointer;
    transition: color 150ms ease-out 0s;
    color: rgb(212, 246, 253);
}

.css-gwiobj {
    padding-right: 5px;
    font-size: 17px;
}